* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 120%;
  background-image: url("https://images.pexels.com/photos/131634/pexels-photo-131634.jpeg?cs=srgb&dl=abstract-art-artificial-131634.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial;
}
h1{
  font-size: 50px;
  font-family:Comic Sans MS;
  font-color: #ffffff;
}
.t{
  font-size:18px;
  padding:0;
  margin-top:5px;
  color:#000;
}
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: red;
  text-align: center;
  border: 1px solid #E60C5F;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  font-family: Arial;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: transparent;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #E60C5F ;
  border: none;
  border-radius: 5px;
}
a:hover{
  color: red;

}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}